$primary-color: #2ecc71;
$primary-color-dark: #27ae60;
$secondary-color: #3498db;
$secondary-color-dark: #2980b9;
$light-red: #e74c3c;
$text-color: #f1f1f1;
$water-color: #3586ff;
$night-color: #565fa0;
$section-padding: 0.5rem 1rem;
$primary-font-size: 1.5rem;
$font-family: 'Dosis', sans-serif;

//General styles
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: $font-family;
}
//Generic classes
.open-tasks-section {
  visibility: visible;
}
.close-tasks-section {
  visibility: hidden;
  height: 0px;
}
.rotate-180-clock-wise {
  transform: rotate(180deg);
  transition: 0.1s;
}
.overflow-hidden {
  overflow: hidden;
}
.hidden {
  display: none !important;
}
.task-up {
  order: -1;
}
.task-down {
  order: 1;
}

//General Styling
.btn {
  padding: $section-padding;
  border-radius: 1rem;
  justify-self: start;
  text-decoration: none;
  font-size: 1.5rem;
  color: #333;
}
.btn-primary {
  color: $text-color;
  background-color: $primary-color;
}
.btn-confirm {
  color: $text-color;
  background-color: $secondary-color-dark;
}
.btn-deny {
  color: $text-color;
  background-color: $light-red;
}
//Styling overlay
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  transition: 2s;
  position: fixed;
  left: 0;
  z-index: 5;
}
//Styling the container
.main-section {
  max-width: 1000px;
  margin: 1vh auto 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 1fr;
}
.morning-night {
  overflow: hidden;
  .morning-night-container {
    transition: 1.5s;
    transform: translateY(-150px);
    width: 200px;
    height: 100%;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    .day-wheel {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      .morning,
      .night {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
      }
      .morning {
        overflow: hidden;
        position: relative;
        opacity: 1;
        .sun-bg {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
        }
      }
      .night {
        transform: rotate(180deg);
        overflow: hidden;
        position: relative;
        opacity: 0;
        .night-bg {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
        }
      }
    }
  }
}
.give-opacity {
  animation-name: giveOpacity;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.remove-opacity {
  animation-name: removeOpacity;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes removeOpacity {
  to {
    opacity: 0;
  }
}
@keyframes giveOpacity {
  to {
    opacity: 1;
  }
}
.rotate-animation {
  animation-name: rotateDay;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes rotateDay {
  to {
    transform: rotate(180deg);
  }
}
.todo-container {
  width: 100%;
  max-width: 1000px;
  padding: 0 5rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}
.todo-section {
  padding: $section-padding;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr;
  .section-header {
    align-items: center;
    margin-bottom: 1rem;
    background-color: $secondary-color;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: $section-padding;
    .section-titel {
      font-size: $primary-font-size;
      color: $text-color;
    }
    .section-controlers {
      color: $text-color;
      font-size: $primary-font-size;
      justify-self: end;
      i {
        margin-right: 1rem;
        cursor: pointer;
        font-size: 1.25rem;
      }
    }
  }
  .section-tasks {
    transition: height 0.5s;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    .task {
      background-color: $primary-color-dark;
      color: $text-color;
      display: grid;
      padding: 0.8rem 0.5rem;
      grid-template-columns: repeat(2, 1fr);
      .task-controlers {
        justify-self: end;
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          font-size: $primary-font-size;
          margin-right: 1.25rem;
          cursor: pointer;
          font-size: 1.1rem;
        }
      }
    }
  }
}

//Styling modals

.modal {
  position: absolute;
  left: calc(50% - 350px);
  z-index: 10;
  max-width: 700px;
  padding: 1rem;
  height: 170px;
  display: grid;
  justify-items: center;
  grid-template-columns: fr;
  grid-template-rows: 1fr 50px;
  background-color: rgba($primary-color, 1);
  transform: translateY(-600px);
  transition: 1s;
  .modal-header {
    padding: 0.5rem 0;
    h3 {
      color: white;
      font-size: 1.75rem;
    }
  }
  .modal-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    .modal-input {
      flex: 1;
      border: 0;
      outline: 0;
      border: 1px solid $primary-color;
      border-radius: 10px;
      font-size: 1.5rem;
      padding: 0 0 0 0.5rem;
      &::placeholder {
        font-size: 1.4rem;
        color: $light-red;
        opacity: 0;
      }
    }
  }
}
.count-down-modal {
  top: 50%;
  left: 30%;
  .hours,
  .minutes,
  .seconds {
    max-width: 80px;
  }
}
.confirm-section-deletion,
.confirm-task-deletion {
  left: calc(50% - 150px);
}
.bring-back {
  transform: translateY(0px);
}
.show-place-holder {
  &::placeholder {
    opacity: 1 !important;
  }
}
.shake {
  animation-name: shakeShok;
  animation-duration: 1s;
  animation-timing-function: linear;
}
@keyframes shakeShok {
  10% {
    transform: translateX(-10px);
  }
  20% {
    transform: translateX(0px);
  }
  30% {
    transform: translateX(10px);
  }
  40% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-5px);
  }
  55% {
    transform: translateX(0);
  }
  60% {
    transform: translateX(5px);
  }
  65% {
    transform: translateX(0);
  }
  70% {
    transform: translateX(-2.5px);
  }
  75% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(2.5px);
  }
  85% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(-1.5px);
  }
  95% {
    transform: translateX(0);
  }
}
#countDownSound{
  display: none;
}